body, html {
    margin: 0;
    background-color: #0B121B;
    height: 100%;
    font-family: Sanchez, sans-serif;
    color: white;
}

h1 {
    margin: 0px;
    margin-bottom: 24px;
    font-size: 24px;
    text-align: center;
    font-weight: 100;
}

button:active {
    outline: none;
}

button:focus {
    outline: none;
}

.eye {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.eye-wrapper {
    position: relative;
}

.eye-ball {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.eye-ball-wrapper {
    position: absolute;
    padding: 1px;
    width: 110px;
    height: 100px;
    border-radius: 50%;
    background-color: #2D132C;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: 250ms ease;
}

.container {
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rectangle-array {
    display: none;
    margin-left: auto;
    margin-right: auto;
    max-width: max-content;
    margin-top: 40px;
}

.rectangle {
    width: 8px;
    height: 8px;
    background-color: #801336;
    display: inline-block;
    margin-left: 8px;
}

.rectangle:first-of-type {
    margin-left: 0px;
}

.button-start {
    font-family: Sanchez;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 6px 26px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    border-bottom: 4px solid #C72C41;;
    background: #EE4540;
    cursor: pointer;
    transition: 250ms ease;
}

.button-start:hover {
    background: #EE342F;

}

.button-start:active {
    border-bottom: none;
}

.hint {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Sanchez;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #C72C41;
}

.outline-button {
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto, arial;
    font-weight: bold !important;
    font-style: normal;
    text-decoration: none;
    padding: 16px 40px;
    border: 2px solid #de314f;
    box-sizing: border-box;
    transition: 240ms ease;
    cursor: pointer;
    transition-property: all !important;
}

.outline-button-red {
    color: white;
}

.top-right-btn {
    position: absolute;
    top: 14px;
    right: 40px;
}

.outline-button-red:hover {
    background: #de314f;
    color: white;
}
